.popular_product {
  position: relative;
}

.section_title {
  composes: section_title from '../global-css/style.css';
}

.gray_bg {
  composes: gray_bg from '../global-css/style.css';
}

.mb_50 {
  composes: mb_50 from '../global-css/style.css';
}

.pt_100 {
  composes: pt_100 from '../global-css/style.css';
}

.pb_100 {
  composes: pb_100 from '../global-css/style.css';
}

.popular_bg_img {
  composes: popular_bg_img from '../global-css/style.css';
}
