.black_bg {
  composes: black_bg from '../global-css/style.css';
}

.black_bg_2 {
  composes: black_bg_2 from '../global-css/style.css';
}

.pt_95 {
  composes: pt_95 from '../global-css/style.css';
}

.pb_60 {
  composes: pb_60 from '../global-css/style.css';
}

.mb_40 {
  composes: mb_40 from '../global-css/style.css';
}

.mb_30 {
  composes: mb_30 from '../global-css/style.css';
}

.pb_25 {
  composes: pb_25 from '../global-css/style.css';
}

.pt_25 {
  composes: pt_25 from '../global-css/style.css';
}

.pr_30 {
  composes: pr_30 from '../global-css/style.css';
}

.button {
  composes: button from '../global-css/style.css';
}

/*-- footer area --*/
.footer_title > h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.footer_about > p {
  color: #fff;
  margin: 0;
}
.social_icon {
  margin-top: 22px;
}
.social_icon ul li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 8px 10px 0;
}
.social_icon li a {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  width: 38px;
}
.social_icon li a.facebook {
  background-color: #3c5b9b;
  border: 2px solid #3c5b9b;
}
.social_icon li a.twitter {
  background-color: #40c1df;
  border: 2px solid #40c1df;
}
.social_icon li a.instagram {
  background-color: #c619b8;
  border: 2px solid #c619b8;
}
.social_icon li a.googleplus {
  background-color: #ed3c32;
  border: 2px solid #ed3c32;
}
.social_icon li a.rss {
  background-color: #eb8314;
  border: 2px solid #eb8314;
}
.social_icon li a.dribbble {
  background-color: #c72982;
  border: 2px solid #c72982;
}
.social_icon li a.dribbble:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #c72982;
}
.social_icon li a.rss:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #eb8314;
}
.social_icon li a.googleplus:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #ed3c32;
}
.social_icon li a.instagram:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #c619b8;
}
.social_icon li a.twitter:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #40c1df;
}
.social_icon li a.facebook:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #3c5b9b;
}
.footer_map {
  margin: 12px 0 20px;
}
.footer_map > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.footer_map > a:hover {
  color: #e54c2a;
}
.footer_map > a i {
  font-size: 20px;
  margin-right: 9px;
}
.single_footer_cont_info {
  display: flex;
  margin-bottom: 30px;
}
.single_footer_cont_info:last-child {
  display: flex;
  margin-bottom: 22px;
}
.cont_info_content > p {
  color: #fff;
  margin: 0;
}
.cont_info_icon i {
  color: #fff;
  font-size: 18px;
}
.cont_info_content {
  margin-left: 15px;
  margin-top: -5px;
}
.cont_info_content > a {
  color: #fff;
  display: block;
  margin-bottom: 6px;
}
.cont_info_content > a:hover {
  color: #e54c2a;
}
.open_time ul li {
  color: #fff;
  font-size: 16px;
  list-style: outside none none;
  margin-bottom: 7px;
}
.open_time ul li span {
  float: right;
}
.open_time ul li:last-child {
  margin-bottom: 0px;
}
.newsletter_style > p {
  color: #fff;
  margin: 0 0 20px;
}
.subscribe_form form input {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  color: #242424;
  padding: 2px 10px;
}
.subscribe_form form input::-webkit-input-placeholder {
  /* Chrome */
  color: #242424;
  opacity: 1;
}
.subscribe_form form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #242424;
  opacity: 1;
}
.subscribe_form form .clear input {
  background: #e54c2a none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  padding: 2px 15px;
  text-transform: uppercase;
  width: auto;
  cursor: pointer;
}
.subscribe_form form .clear input:hover {
  background: #fff none repeat scroll 0 0;
  color: #242424;
}
.clear {
  margin-top: 18px;
}
.copyright > p {
  color: #fff;
  margin: 0;
}
.copyright > p a {
  color: #fff;
}
.copyright > p a:hover {
  color: #e54c2a;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer_title.mb-30 {
    margin-bottom: 20px;
  }
}
